{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" method="POST" role="form">

{%

set fields = [
        { "name" : "pname" },
        { "name" : "name" },
        { "name" : "url" },
]
%}

{% for i in fields %}
  <div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="{{i.name}}"> {{ i.name }} </label>
  <div class="col-sm-9">
  <input type="text" id="{{i.name}}" name="{{ i.name }}" placeholder={{ i.name }} class="col-xs-10 col-sm-5" />
  </div>
  </div>
{% endfor %}

<div class="clearfix form-actions">
<div class="col-md-offset-3 col-md-9">
<button class="btn btn-info" type="submit">
<i class="ace-icon fa fa-check bigger-110"></i>
Submit
</button>

</form>
{% endblock %}
